/* NAVBAR SECTION */
.navbar-fixed-top .navbar-toggle .icon-bar {
  background-color: #ADF0A7;
}

.navbar-fixed-top .navbar-toggle {
  border-color: #ADF0A7;
}
.navbar-nav>li>a {
  color: #ADF0A7;
}

#navLogo{
  color: #ADF0A7;
  font-weight: bold;
}
.navbar{
  background-color: #007F17;
  list-style-type:none;
  float: right;
}


/* HOME SECTION */
.home {
  clear: both;
  text-align: center;
  background-color: #ADF0A7;
  padding: 75px;
  border-bottom: 1px solid #007F17;
  color: black;
}

#profilePhoto {
  border-radius: 50%;
  margin: auto;
  max-height: 200px;
}

#name {
  width: 40%;
  margin: auto;
  padding: 15px;
  border-bottom: 1px solid #007F17;
}
#jobTitle {
  margin: auto;
  padding-top: 20px;
}
.home ul {
  padding-top: 25px;
  padding-left: 0;
}
.home a {
  color: black;
  font-size: 1.5em;
}
.socialLinks {
  display: inline;
  margin: 10px
}
.socialLogo {
  padding: 5px 10px 5px 20px;
  height: 40px;
}


/* ABOUT ME / PROJECTS  SECTION */
#aboutMe {
  background-color: white;
}
#projects {
  background-color: white;
  padding-bottom: 25px;
}
#projects ul {
  padding-left: 0;
}


/* FOOTER */
footer {
  /* THIS IS NOT WORKING  */
  background-color: #007F17;
  padding-top: 25px;
  padding-bottom: 15px;
}
footer p {
  color: #ADF0A7;
  background-color: #007F17;
  float: left;
  padding-top: 8px;
}
footer ul {
  float: right;
}
.footerLogos{
  display: inline;
  /* float: right; */
  /* padding-bottom: 10px; */
}
footer img {
  height: 30px;
  padding-right: 5px;
  /* margin-bottom: 10px; */
  /* margin: auto; */
}
