
header {
  background-color: #00704B;
}
#navLogo{
  color: #4CFFC4;
  font-weight: bold;
}
.navbar{
  background-color: #00704B;
  list-style-type:none;
  float: right;
}
.navItem{
  display: inline;
  float: right;
}
.home {
  clear: both;
  text-align: center;
  background-color: #4CFFC4;
  padding: 75px;
}

#aboutMe {
  background-color: white;
}
#projects {
  background-color: white;
}
#profilePhoto {
  border-radius: 50%;
}
#name {
  width: 30%;
  margin: auto;
  padding: 15px;
  border-bottom: 1px solid #00704B;
}
.socialLinks {
  display: inline;
}
footer {
  /* THIS IS NOT WORKING  */
  background-color: #00704B;
}
footer p {
  float: left;
  background-color: #00704B;
}
.socialLogo {
  padding: 5px;
}

.navbar-fixed-top .navbar-toggle .icon-bar {
  background-color: #CCC;
}

.navbar-fixed-top .navbar-toggle {
  border-color: #CCC;
}
.navbar-nav>li>a {
  color: #CCC;
}

/* button.navbar-toggle {
    background-color: #CCC;
} */
/* span.icon-bar {
    background-color: #CCC;
} */
